<nav class="navbar">

  <div class="navbar-left">
    <h1  routerLink="/products" style="color:white; cursor: pointer; border-right:4px solid white; padding-right: 10px; border-radius: 2px" >
      E-store
    </h1>
    <a routerLink="/products" routerLinkActive="active">Products</a>
  </div>
  

  <div class="navbar-right">
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/cart" class="cart-link" routerLinkActive="active">
      <svg class="cart-icon" viewBox="0 0 24 24">
        <path fill="currentColor" d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7A2,2 0 0,1 5,15C5,14.18 5.59,13.5 6.36,13.31L7.85,10.53L2.9,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z" />
      </svg>
      <span class="cart-badge" *ngIf="cartService.getTotalItems() > 0">
        {{ cartService.getTotalItems() }}
      </span>
    </a>
  </div>
</nav>